@charset "UTF-8";

/*
  em HTML é id(único)    = em CSS é #
  em HTML é class(multiplos) = em CSS é .
*/

body {
    background-color: rgba(115, 240, 198, 0.712);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 174, 0);
}

h1 {
    color: rgb(0, 83, 56);
    background-color: rgba(0, 83, 55, 0.295);
    text-align: center;
}

h2 {
    color: rgb(231, 124, 2);
}

.basico {
    color: rgb(33, 180, 33);
    font-weight: bold;
}

.intermediario {
    color: rgb(202, 184, 24);
    font-weight: bold;
}

.avancado {
    color: rgb(182, 49, 49);
    font-weight: bold;
}

p {
    text-align: justify;
}